


body {
  margin: auto;
  width: 50%;
  padding: 10px;
  color: #285BD4;
  background-color: #85EDEE;
  text-align: center;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
h1{
  font-size: 4rem;
  font-family: 'Pacifico', cursive;
}

.brewery-block {
  border: 2px solid white;
  padding: 10px;
  margin: 4px;
}

a, h2{
  text-decoration: none;
  font-family: 'Questrial', sans-serif;

}

button{
  background-color: CFFCF6;
  color: #285BD4;
  border: 2px solid #FFFFFF;
  border-radius: 4px;
  padding: 15px 30px;
  font-family: 'Questrial', sans-serif;
  font-size: 1.5rem;
  margin: 15px;
}